* {
  margin: 0 5px;
}
span {
  color: #ff9200;
  font-size: 30px;
  font-weight: bold;
}
.logo {
  width: 100px;
}
.search-section {
  text-align: center;
  margin-bottom: 10px;
}
.foods {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.image {
  width: 100%;
  border-radius: 10px;
}
.image:hover {
  border: 6px solid red;
}
.food-name {
  font-size: large;
  text-align: center;
  font-weight: bold;
  color: #f08903;
}

#ingredients {
  display: none;
}
.ingredientImage {
  width: 200px;
  border-radius: 10px;
}
.ingredient-show {
  margin-left: 25%;
  display: flex;
}
ol {
  list-style: none;
}
ol li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
